<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head><title>Commande</title></head>
    <body>
        <h1>Commande <span th:text="${commande.name}"></span></h1>
        <h3>Lignes de commande :</h3>
        <table border="1">
            <tr>
                <th>Produit</th><th>Qté</th><th>Prix unitaire</th><th>Total</th>
            </tr>
            <tr th:each="ligne : ${commande.ligneCommandes}">
                <td th:text="${ligne.labelProduct}"></td>
                <td th:text="${ligne.quantity}"></td>
                <td th:text="${ligne.priceUnit} + ' €'"></td>
                <td th:text="${ligne.quantity * ligne.priceUnit} + ' €'"></td>
                <td>
                    <form th:action="@{/gestion/commandes/{commandeId}/supprimer-ligne/{ligneId}(commandeId=${commande.id}, ligneId=${ligne.id})}" method="post">
                        <button type="submit">Supprimer</button>
                    </form>
                </td>
            </tr>
            <tr th:if="${commande.ligneCommandes.empty}">
                <td colspan="5" style="text-align:center;color:#777;">
                    Aucune ligne encore.
                </td>
            </tr>
        </table>

        <div style="margin-top: 20px; padding: 20px; border-top: 2px solid #ccc;">
            <a th:href="@{/gestion/commandes/{id}/imprimer(id=${commande.id})}"
                style="background:#007bff;color:white;padding:10px 20px;text-decoration:none;">
                Imprimer cette commande
            </a>
        </div>

        <h3>Ajouter une ligne de commande :</h3>
        <form th:action="@{/gestion/commandes/{id}/ajouter-ligne(id=${commande.id})}" method="post">
            Produit : <input name="labelProduct" required>
            Quantité : <input name = "quantity" type="number" required>
            Prix Unitaire (€)  : <input name="priceUnit" type="number" required>
            <button type="submit">Ajouter</button>

        </form>

        <a th:href="@{/gestion/commandes}">← Mes commandes</a>
    </body>
</html>
