<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Mes commandes</title>
    </head>
    <body>
        <h1>Gestion des commandes</h1>
        <div th:if="${clientEmail}">
            <p>
                Bonjour <span th:text="${clientEmail}"></span> |
                <a th:href="@{/gestion/logout}">Déconnexion</a>
            </p>
        </div>

        <h2>Vos commandes :</h2>
        <div th:each="cmd : ${commandes}">
            <a th:href="@{/gestion/commandes/{id}(id=${cmd.id})}">
                Commande #<span th:text="${cmd.id}"></span> - <span th:text="${cmd.name}"></span>
            </a>
        </div>
        <h3>Créer votre commande : </h3>

        <form th:action="@{/gestion/commandes/creer}" method="post" style="display:inline;">
            Nom de la commande : <input name="name" required>
            <button type="submit"> Créer nouvelle commande</button>
        </form>
    </body>
</html>
